::ng-deep {
    .p-overlaypanel-content {
        overflow: hidden;

        ul {
            list-style-type: none;
            margin: 0px;
            padding-left: 10px;

            li {
                cursor: pointer;

                a {
                    margin-left: 10px;
                }
            }
        }
    }

    .doc_notifications_panel .p-overlaypanel-content {
        padding: 0px;
        border-radius: 5px 0px 5px 5px;
    }
}