<div class="resetpassword-dialog">
    <form [formGroup]="resetForm" >
        <div class="field p-fluid block">
            <label for="oldPassword" class="block text-900 font-medium text-xl mb-2">Old Password</label>
            <span class="p-input-icon-right">
                <i style="cursor: pointer"  [ngClass]="passwordtype.type == 'password' ? 'pi pi-eye' : 'pi pi-eye-slash'"
                (click)="  passwordtype.type = passwordtype.type == 'password' ? 'text' : 'password'"></i>
                <input pPassword #passwordtype type="password" id="oldPassword" formControlName="oldPassword" placeholder="Old Password" class="w-full" [ngClass]="{'ng-invalid ng-dirty': resetForm.controls.oldPassword.invalid && (resetForm.controls.oldPassword.dirty || resetForm.controls.oldPassword.touched)}">
            </span>
            <small class="p-error absolute" *ngIf="resetForm.get('oldPassword')?.errors?.['required'] && 
             (resetForm.controls.oldPassword.dirty || resetForm.controls.oldPassword.touched)" >
                Old Password is Required.
            </small>
        </div>
        <div class="field p-fluid block mt-4 relative">
            <label for="new Password" class="block text-900 font-medium text-xl mb-2">New Password</label>
            <span class="p-input-icon-right">
                <i style="cursor: pointer"  [ngClass]="newPasswordType.type == 'password' ? 'pi pi-eye' : 'pi pi-eye-slash'"
                (click)="newPasswordType.type = newPasswordType.type == 'password' ? 'text' : 'password'"></i>
                <input  pPassword #newPasswordType  type="password" id="newPassword" formControlName="newPassword" placeholder="New Password"  class="w-full" [ngClass]="{'ng-invalid ng-dirty': resetForm.controls.newPassword.invalid && (resetForm.controls.newPassword.dirty || resetForm.controls.newPassword.touched)}">
            </span>
            <small class="p-error absolute"  *ngIf="resetForm.get('newPassword')?.errors?.['required'] && 
              (resetForm.controls.newPassword.dirty || resetForm.controls.newPassword.touched)">
                Password is Required.
            </small>
            <small class="p-error absolute" *ngIf="resetForm.get('newPassword')?.hasError('pattern')">
                Password should contain a minimum of 8 Alphanumeric characters with at least one Uppercase, one Lowercase and one Symbol
            </small>
            <small class="p-error absolute" *ngIf="resetForm.hasError('matchingPasswords')"  >
                New password cannot be same as the old password.
            </small>
        </div>
        <div class="field p-fluid block" [ngClass]="resetForm.get('newPassword')?.hasError('pattern') ? 'marginTop_2' : 'mt-4'">
            <label for="confirm Password" class="block text-900 font-medium text-xl mb-2">Confirm Password</label>
            <span class="p-input-icon-right">
                <i style="cursor: pointer"  [ngClass]="conformPasswordType.type == 'password' ? 'pi pi-eye' : 'pi pi-eye-slash'"
                (click)="conformPasswordType.type = conformPasswordType.type == 'password' ? 'text' : 'password'"></i>
                <input pPassword #conformPasswordType type="password" id="conformPassword" formControlName="conformPassword" placeholder="Confirm Password"  class="w-full" [ngClass]="{'ng-invalid ng-dirty': resetForm.controls.conformPassword.invalid && (resetForm.controls.conformPassword.dirty || resetForm.controls.conformPassword.touched)}">
            </span>
            <small class="p-error absolute"  *ngIf="resetForm.get('conformPassword')?.errors?.['required'] && (resetForm.controls.conformPassword.dirty || resetForm.controls.conformPassword.touched)">
                Confirm Password is Required.
            </small>
            <small class="p-error absolute" *ngIf="resetForm.get('conformPassword')?.hasError('mustMatch')">
                Passwords doesn't match!
            </small>
        </div>
    </form>

    <p-divider></p-divider>
    <div  class="col-12 p-0 flex justify-content-end align-items-center">
        <button (click)="onCancel()" pButton class="at_btn btn-cancel mr-2" label="Clear"></button>
        <button [disabled]="resetForm.invalid" (click)="onConfirm()" pButton pRipple type="button" label="Reset" class="p-button-raised at_btn"></button>
    </div>
</div>