.resetpassword-dialog {
    min-width: 400px;
    min-height: auto;

    .at_btn {
        min-width: 100px;
    }
}

::ng-deep {

    form{
        height: 310px;
    }

    .p-dialog .p-dialog-content {
        padding-bottom: 18px !important;
    }
    .p-dialog .p-dialog-header{
        padding-bottom:1rem !important;
    }
    .p-dialog .p-dialog-header .p-dialog-title{
        padding-left: .5rem !important;
        font-weight: 500 !important;
        font-size: 1.5rem !important;
        color: #495057 !important;
    }
    .marginTop_2{
        margin-top: 2.5rem !important;
    }
}