<div class="surface-0 h-screen w-screen overflow-hidden">
  <p-toast></p-toast>
  <div class="grid h-full mt-0">
    <div class="col-12 lg:col-6 login--img p-0">
      <img src="assets/images/login.png" alt="" />
    </div>
    <div class="col-12 lg:col-6">
      <div class="flex justify-content-center align-items-center h-full">
        <div *ngIf="enterEmailIDFlag" class="surface-card py-6 login--form">
          <div class="grid pb-5">
            <div class="col-6 flex">
              <div class="login--logo">
                <img
                  src="assets/images/logo-transparent.png"
                  alt="Logo"
                  class="app-logo"
                />
              </div>
              <div class="login--logo_text">Docmatic</div>
            </div>
          </div>
          <div class="mb-5">
            <div class="text-900 font-bold text-5xl font-medium">
              Forgot Password
            </div>
            <span class="text-600 font-medium"
              >Please enter the Registered Email!</span
            >
          </div>

          <form [formGroup]="emailForm" (ngSubmit)="onEmailIDSubmit()">
            <div class="field p-fluid block">
              <label for="email1" class="block text-900 font-bold text-lg"
                >Email ID</label
              >
              <input
                id="email1"
                formControlName="username"
                type="text"
                placeholder="Email ID"
                required
                pInputText
                class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': emailForm.get('username')?.errors?.['required'] && (emailForm.controls['username'].dirty || emailForm.controls['username'].touched)}"
              />
              <small
                class="p-error"
                *ngIf="emailForm.get('username')?.errors?.['required'] && (emailForm.controls['username'].dirty || emailForm.controls['username'].touched)"
              >
                Email ID is Required.
              </small>
              <small
                class="p-error"
                *ngIf="emailForm.get('username')?.hasError('pattern')"
              >
                Invalid Email ID.
              </small>
            </div>
            <button
              type="submit"
              pButton
              pRipple
              label="Get OTP"
              class="w-full p-3 mt-3 text-xl"
            ></button>
          </form>
        </div>
        <div *ngIf="enterOTPFlag" class="surface-card py-6 login--form">
          <div class="grid pb-5">
            <div class="col-6 flex">
              <div class="login--logo">
                <img
                  src="assets/images/logo-transparent.png"
                  alt="Logo"
                  class="app-logo"
                />
              </div>
              <div class="login--logo_text">Docmatic</div>
            </div>
          </div>
          <div class="mb-5">
            <div class="text-900 font-bold text-5xl font-medium">
              {{ isLoginOTP ? "Two Step Verification" : "Forgot Password" }}
            </div>
            <span class="text-600 font-medium"
              >Please enter the OTP sent to your registered email</span
            >
          </div>

          <form [formGroup]="otpForm" (ngSubmit)="onOTPSubmit()">
            <div class="field p-fluid block">
              <label for="otp" class="block text-900 font-medium text-xl mb-2"
                >Enter OTP</label
              >
              <input
                formControlName="otpNumber"
                (keypress)="onlyNumber($event)"
                (input)="checkLength()"
                placeholder="OTP"
                maxlength="6"
                required
                pInputText
                class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': otpForm.get('otpNumber')?.errors?.['required'] && (otpForm.controls['otpNumber'].dirty || otpForm.controls['otpNumber'].touched)}"
              />
              <small
                class="p-error"
                *ngIf="otpForm.get('otpNumber')?.errors?.['required'] && (otpForm.controls['otpNumber'].dirty || otpForm.controls['otpNumber'].touched)"
              >
                OTP is Required.
              </small>
            </div>
            <button
              type="submit"
              [disabled]="!otpSubmitEnable"
              pButton
              pRipple
              label="Submit"
              class="w-full p-2 mt-3 text-xl"
            ></button>
            <div class="mt-3">
              <span class="text-600 font-medium"
                >Didn't receive the OTP yet?
              </span>
              <a (click)="resendOTP()" class="cursor-pointer">Resend OTP</a>
            </div>
          </form>
        </div>
        <div *ngIf="resetPasswordFlag" class="surface-card py-6 login--form">
          <div class="grid pb-5">
            <div class="col-6 flex">
              <div class="login--logo">
                <img
                  src="assets/images/logo-transparent.png"
                  alt="Logo"
                  class="app-logo"
                />
              </div>
              <div class="login--logo_text">Docmatic</div>
            </div>
          </div>
          <div class="mb-5">
            <div class="text-900 font-bold text-5xl font-medium">
              Set New Password
            </div>
            <span class="text-600 font-medium">Please reset password</span>
          </div>

          <form [formGroup]="resetForm" (ngSubmit)="onChangedPasswordSubmit()">
            <div class="field p-fluid block">
              <label
                for="password1"
                class="block text-900 font-medium text-xl mb-2"
                >Password</label
              >
              <span class="p-input-icon-right">
                <i
                  style="cursor: pointer"
                  [ngClass]="
                    currentPassword.type == 'password'
                      ? 'pi pi-eye'
                      : 'pi pi-eye-slash'
                  "
                  (click)="
                    currentPassword.type =
                      currentPassword.type == 'password' ? 'text' : 'password'
                  "
                ></i
                ><!-- <div>
                                        <a routerLink="/login" class="cursor-pointer">Already have an account?</a>
                                    </div> -->
                <input
                  #currentPassword
                  placeholder="Password"
                  class="w-full"
                  type="password"
                  formControlName="password"
                  [feedback]="false"
                  pPassword
                  [ngClass]="{'ng-invalid ng-dirty': resetForm.get('password')?.errors?.['pattern'] || resetForm.get('password')?.errors?.['required'] && (resetForm.controls['password'].dirty || resetForm.controls['password'].touched)}"
                />
              </span>
              <small
                class="p-error"
                *ngIf="resetForm.get('password')?.errors?.['required'] && (resetForm.controls['password'].dirty || resetForm.controls['password'].touched)"
              >
                Password is Required.
              </small>
              <small
                class="p-error"
                *ngIf="resetForm.get('password')?.hasError('pattern')"
              >
                Password should contain a minimum of 8 Alphanumeric characters
                with at least one Uppercase, one Lowercase and one Symbol.
              </small>
            </div>
            <div class="field p-fluid block">
              <label
                for="password1"
                class="block text-900 font-medium text-xl mb-2"
                >Confirm Password</label
              >
              <span class="p-input-icon-right">
                <i
                  style="cursor: pointer"
                  [ngClass]="
                    confirmPassword.type == 'password'
                      ? 'pi pi-eye'
                      : 'pi pi-eye-slash'
                  "
                  (click)="
                    confirmPassword.type =
                      confirmPassword.type == 'password' ? 'text' : 'password'
                  "
                ></i>
                <input
                  #confirmPassword
                  placeholder="Password"
                  class="w-full"
                  type="password"
                  formControlName="confirmPassword"
                  [feedback]="false"
                  pPassword
                  [ngClass]="{'ng-invalid ng-dirty': resetForm.get('confirmPassword')?.errors?.['pattern'] || resetForm.get('confirmPassword')?.errors?.['required'] && (resetForm.controls['confirmPassword'].dirty || resetForm.controls['confirmPassword'].touched)}"
                />
              </span>
              <small
                class="p-error"
                *ngIf="resetForm.get('confirmPassword')?.errors?.['required'] && (resetForm.controls['confirmPassword'].dirty || resetForm.controls['confirmPassword'].touched)"
              >
                Confirm Password is Required.
              </small>
              <small
                class="p-error"
                *ngIf="resetForm.get('confirmPassword')?.hasError('mustMatch')"
              >
                Passwords doesn't match!
              </small>
            </div>
            <button
              type="submit"
              pButton
              pRipple
              label="Submit"
              class="w-full p-3 mt-3 text-xl"
            ></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
